name: Generate sitemap daily

on:
  schedule:
    - cron: "0 0 * * *" # chạy mỗi ngày lúc 00:00 UTC
  workflow_dispatch: # cho phép chạy thủ công khi cần

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Generate sitemap
        run: npm run sitemap

      - name: Commit and push sitemap.xml
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add sitemap.xml
          git commit -m "Auto update sitemap [skip ci]" || echo "No changes"
          git push
